<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941477630937-30bhbf4g8k3u1or9jscm5uohru58kuls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941477630937-30bhbf4g8k3u1or9jscm5uohru58kuls</string>
	<key>API_KEY</key>
	<string>AIzaSyBc3pzBqoOFJR41Q21BSvRpp2TPECzKtJM</string>
	<key>GCM_SENDER_ID</key>
	<string>941477630937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cubakche.cubakche2</string>
	<key>PROJECT_ID</key>
	<string>cubakche-36019</string>
	<key>STORAGE_BUCKET</key>
	<string>cubakche-36019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941477630937:ios:c6b29a11a410167ef17fc8</string>
	<key>DATABASE_URL</key>
	<string>https://cubakche-36019.firebaseio.com</string>
</dict>
</plist>